* {
	font-family: "Roboto", "Arial", "Courier New";
}

#timestamp {
	font-family: "Covered By Your Grace", cursive, "Courier New", "Arial";
}

#pomo_breaks_mobile,
#pomos_mobile,
#pomos,
#pomo_breaks,
#localpomos,
#localbreaks,
#localpomos_mobile, 
#localbreaks_mobile {
	font-family: "Courier New", "Arial";
	font-weight: 900;
}
