<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <title>Timer</title>
</head>

<body>
  <button id="pauseTimer" onclick="pauseTimer()">Pause</button>
  <button id="playTimer" onclick="playTimer()">Play</button>
  <button id="resetTimer" onclick="resetTimer()">Reset</button>
  <h1 id="timestamp"></h1>
  <script src="/socket.io/socket.io.js"></script>

  <script>
    const socket = io();
  </script>

  <script>
    // const pauseTimer = document.getElementById("pauseTimer");
    // const playTimer = document.getElementById("playTimer");
    // const resetTimer = document.getElementById("resetTimer");
    // Listen for messages from server
    socket.on("message", (msg) => {
      console.log("Message from server ", msg);
    });
    // Listen for timestamps from server
    socket.on("timestamp", (msg) => {
      document.getElementById("timestamp").innerHTML = msg.timestamp;
      console.log("test", msg)
    });

    // parse url to get id and put in var
    const userId = document.location.pathname.split("/").pop()
    const requestOrigin = window.location.host
    const pauseTimer = () => {
      socket.emit("pausetimer", { userId, requestOrigin });
      console.log("requestOrigin", requestOrigin)
      console.log(`Command: pausetimer`);
    };
    const playTimer = () => {
      socket.emit("playtimer", `Command: playtimer`);
      console.log(`Command: playtimer`);
    };
    const resetTimer = () => {
      socket.emit("resettimer", `Command: resettimer`);
      console.log(`Command:resettimer`);
    };

  </script>
  <!-- <script src="socketClient.js"></script> -->
</body>

</html>